/*Layout*/


body {
	width: 890px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
   background: #F0F8FF;
}

nav{
    
}

aside{

    float: left;
	width: 420px;
	min-height: 480px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: justify;
    
}

section{
	float: right;
	width: 420px;
   	padding-left: 20px;
	border-left: 5px dotted #b2a497;
    text-align: justify;
}

footer{
	clear:both;
	width:890px;
	height: 100px;
    text-align: center;
}
