/*Layout*/


body {
	width: 890px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
   background: #d4efdf;
}

h1 {
  text-align: center;      
  color: white;              
}

h2 {
  text-align: center;      
  color: white;             
}

nav { 
	text-align: center; 
}



footer{
	clear:both;
	width:90px;
	height: 100px;
    text-align: center;
}
