/*Layout*/


body {
	width: 890px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
   background: #a8dadd ;
}
p {
	text-align: center;      
  color: white;              
}
h1 {
  text-align: center;      
  color: white;              
}

h2 {
  text-align: center;      
  color: white;             
}

nav { 
	text-align: center; 
}
aside{

    float: left;
	width: 480px;
	min-height: 480px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: justify;
	color:white;
    
}

section{
	float: right;
	width: 420px;
    min-height: 480px;
	padding-left: 20px;
    text-align: justify;
	color:white;
}

footer{
	clear:both;
	width:890px;
	height: 100px;
    text-align: center;
}


footer{
	clear:both;
	width:90px;
	height: 100px;
    text-align: center;
}
}


#footer-image {
    
   height: 100px;
    width=100px;
}
