/*Layout*/


body {
	width: 890px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
   background:#E0FFFF;

h1 {
	font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #000080;

h2 {
	font-size:30px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color :#000080;
	
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0
  background-color: #f1f1f1;
  padding-top: 20px;
}
}
aside{

    float: left;
	width: 420px;
	min-height: 480px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: justify;
    
}

section{
	float: right;
	width: 420px;
   	padding-left: 20px;
    text-align: justify;
}		

#footer-image {
height = "50" width="50"
}







