/*Layout*/


body {
	width: 890px;
	margin: 0 auto;
	font: 10pt/1.5em Helvetica,"Helvetica neue", Arial, sans-serif;
   background: #B0E0E6;

h1 {
	font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #000080;

h2 {
	font-size: 280px;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #000080;

		







